.header {
  line-height: 1.5;
  padding: 28px 0;
  background-color: #f7f7f7;
  border-bottom: 1px solid #f2f4f7;
}

.headerContent {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
}

.navList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.logo {
  position: absolute;
  top: 50%;
  left: 64px;
  width: 136px;
  height: 16px;
  transform: translateY(-50%);
}
