.locationInput {
  position: relative;
  display: flex;
}

.iconMapInput {
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
