.page {
  color: #f7f7f7;
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: left;
  background: url(../public/bg.jpg);
  background-repeat: no-repeat;
  padding-left: 64px;
}

.page h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.66667;
  margin-bottom: 16px;
}

.page h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;

  margin-bottom: 40px;
}

.content {
  max-width: 571px;
  white-space: nowrap;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  background: #e44848;
  border-radius: 200px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  cursor: pointer;
  width: 173px;
  letter-spacing: -0.01em;
}

.button:hover {
  background-color: #d84343;
}
